body {
    background-color: #4e4e4e;
}

.siderbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.siderbar__navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.siderbar__navigation .logo img{
    width: 80px;
}

.siderbar__navigation .logo {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.siderbar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.siderbar ul li {
    padding: 10px 0;
}

.siderbar nav ul li a {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}